#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.counter{
  display: flex;
 align-items: center;
}
.heading{
 width: 300px;
 height: 300px;
 display: flex;
 justify-content: center;
 align-content: center;
 background-color: royalblue;
 border-radius: 50%;
 align-items: center;
 color: white;
}
.counter > button{
  border-radius: 50%;
  width: 60px;
  height: 60px;
  border: none;
  font-size: 1.5rem;
}
.counter--minus{
  background-color: red;
  color: white;
  margin-right: -20px;
  z-index: 1;
}
.counter--plus{
  background-color: green;
  color: white;
  margin-left: -20px;
}
@media (max-width:576px){
  .counter--heading{
    font-size: 16px;
    text-align: center;
  }
  .heading{
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: royalblue;
    border-radius: 50%;
    align-items: center;
    color: white;
   }
   .counter > button{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: none;
    font-size: 1.5rem;
  }
}
@media ((min-width:576px) and (max-width:768px)){
  .counter--heading{
    font-size: 16px;
    text-align: center;
  }
  .heading{
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: royalblue;
    border-radius: 50%;
    align-items: center;
    color: white;
   }
   .counter > button{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: none;
    font-size: 1.5rem;
  }
}